# Copyright (C) 2020 by UsergeTeam@Github, < https://github.com/UsergeTeam >.
#
# This file is part of < https://github.com/UsergeTeam/Userge > project,
# and is released under the "GNU v3.0 License Agreement".
# Please see < https://github.com/uaudith/Userge/blob/master/LICENSE >
#
# All rights reserved.

# music.py
ARQ_KEY = ""
# To Generate ARQ key, send /get_key to @arqrobot

# deezloader.py
ARL_TOKEN = ""


# google_img.py
GCS_API_KEY = ""
GCS_IMAGE_E_ID = ""


# google_photos.py
G_PHOTOS_CLIENT_ID = ""
G_PHOTOS_CLIENT_SECRET = ""
G_PHOTOS_AUTH_TOKEN_ID = ""


# time.py
COUNTRY_CITY = ""


# transcribe.py
# Add more API keys for more languages
WIT_AI_API_EN = ""


# watch.py
WATCH_COUNTRY = ""


# virus_total.py
VT_API_KEY = ""


# lastfm.py
FM_API = ""
FM_SECRET = ""
FM_USERNAME = ""
FM_PASSWORD = ""
