cairosvg
colour
countryinfo
git+https://github.com/TomyPrs/deezloader
emoji-country-flag
gdshortener
git+https://github.com/Phyco-Ninja/spotify-downloader
google-images-search==1.3.8
google
glitch-this
gtts
humanize
justwatch
lottie
lxml
newspaper3k
psutil
pydub
pylast
pyfiglet
python-arq
qrcode
tracemoepy
validators

