cairosvg
coffeehouse
colour
deezloader
emoji-country-flag
gdshortener
# google-images-search==1.3.4
google
glitch-this
gtts
humanize
justwatch
lottie
newspaper3k
# pillow==8.0
pyfiglet
qrcode
spotdl
tracemoepy
validators
